/*

#000 registration black
#7F95D1 - Vista blue
#FF82A9 - Tickle me pink
#FFC0BE - Spanish pink
#FFEBE7 - Linen

*/


/* ======== Index Page =======*/

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* ======== Index Page =======*/

/* ======== Header =======*/

nav{
	background-color: #7F95D1;
	margin: 0;
	text-align: right;
}

nav h1{
	margin: 0;
	color: #fff;
	text-align: left;
	position: absolute;
	top: 20px;
	left: 70px;
}

nav label{
	font-size: 32px;
	padding: 10px 12px 10px 0;
	display: none;
	color: #fff;
}

ul{
	width: 60%;
	margin: 0 auto;
	padding: 0;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li.welcome{
	color: #000;
}

ul li.welcome:hover{
	color: #fff;
}

ul li:hover{
	background-color: #FF82A9;
}

ul li.active{
	background-color: #FF82A9;
}

ul a li{
	color: #fff;
	text-decoration: none;
}

ul a li:hover{
	color: #000;
}


/* ======== Header =======*/

.landing img{
	width: 100%;
	height: 500px;
}

.landing div{
	color: #000;
	position: absolute;
	top: 30%;
	font-family: Verdana;
	font-size: 40px;
	text-align: center;
	background: #FFEBE7;
	opacity: 0.6;
	padding: 20px;
	left: 25%;
}

.about{
	padding: 40px;
	text-align: center;
}

.about h1{
	font-size: 35px;
}

.footer{
	background-color: #000;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}

/*==== end of index page =====*/


/*Authentication forms */

.auth_body{
	background-color: #FFC0BE;
	min-height: 100%;
	/*border: 2px solid black;*/
	padding: 10px;
}

.auth_form{
	color: #000;
	position: relative;
	width: 31%;
	height: 100%;
	background-color: #fff;
	left: 34%;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 88px;
}

.auth_header h1{
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

.form_input{
	margin: 20px 30px 5px 5px;
}

.form_input p{
	text-align: left;
}

.form_input input[type="text"], input[type="password"], input[type="email"]{
	transition:0.5s all;
	background-color: transparent;
	outline: none;
	border: 2px solid #000;
	padding: 7px 12px;
	width: 70%;
	color: #000;
}

.form_input input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	width: 100%;
	transition: 2s all;
}

.form_input select{
	transition:0.5s all;
	background-color: transparent;
	outline: none;
	border: 2px solid #000;
	padding: 7px 12px;
	width: 78%;
	color: #000;
}

.form_input input[type="submit"]{
	transition:0.5s all;
	background-color: #238BEC;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 78%;
	font-size: 15px;
	color: #000;
	border-radius: 3px;
}

.form_input input[type="submit"]:hover{
	background-color: #00316b;
	color: #fff;
}

/*=== end of authentication ====*/


/*===Daily menu =====*/

.menu_header{
	margin: 20px;
	text-align: center;
}

.breakfast{
	background-color: #FFEBE7;
	padding: 30px 0;
}

.lunch{
	background-color: #FFC0BE;
	padding: 30px 0;
}

.dinner{
	background-color: #FFEBE7;
	padding: 30px 0;
}

.menu_body{
	margin: 25px 40px;
}

.menu_row{
	width: 100%;
	margin: 0 0 30px 15px;
}

.menu_row article{
	width: 18%;
	display: inline-block;
	margin: 10px;
}

.menu_body h1{
	font-size: 30px;
	text-align: center;
	font-family: Verdana;
}

.menu_row article input[type="submit"]{
	transition:0.5s all;
	background-color: #7F95D1;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 45%;
	font-size: 15px;
	color: #fff;
	border-radius: 3px;
}

.menu_row article input[type="submit"]:hover{
	background-color: #FF82A9;
	color: #000;
}

.menu_row input[type="number"]{
    color: #000;
    width: 50%;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 3px 10px;
    border: 1px solid #000;
    margin-bottom: 1em;  
}

.add_to_menu{
	margin-top: 20px;
}

.menu_row .add_to_menu input[type="submit"]{
	transition:0.5s all;
	background-color: #238BEC;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 92%;
	font-size: 15px;
	color: #000;
	border-radius: 3px;
}

.menu_row .add_to_menu input[type="submit"]:hover{
	background-color: #00316b;
	color: #fff;
}


/*=== end of user menu ===*/


/* ==== Caterer's Meal option management ====*/

.meal_body{
	background-color: #fff;
	min-height: 100%;
	/*border: 2px solid black;*/
	padding: 10px;
	color: #000;
}

.meal_form{
	font-size: 15px;
	position: relative;
	width: 31%;
	height: 100%;
	background-color: #FFC0BE;
	left: 34%;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 58px;
}

.meal_header h1{
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

.meal_form p.add_intro{
	color: #000;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}


/* ==== end of meal management ====*/

/* ==== Orders page ====*/

.orders{
	height: 100%;
	padding: 20px;
	margin-bottom: 40px;
}

.order_table{
	text-align: center;
	width: 45%;
	position: relative;
	height: 100%;
	padding: 20px;
	background-color: #FFC0BE;
	left: 23%;
	color: #000;
}

.order_table h1{
	font-size: 35px;
}

.order_table table{
	width: 100%;
}

.order_table table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

.order_table th, td {
    padding: 12px 7px;
}

